<div class="text-center border-blue">
  <p>Hola <span class = "fw-600"> <%= @resource.email %></span>!</p>
  <p>Alguien ha solicitado un link para cambiar tu contraseña. Puedes hacerlo a traves del siguiente link.</p>
  <p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token), class: "text-blue text-decoration-none" %></p>
  <p>Si no solicitaste esto, porfavor ignora este mail.</p>
  <p>Tu contraseña no va a cambiar hasta que accedas al link y crees una nueva.</p>
</div>
