<div class="d-none d-lg-flex column-gap-3 align-items-center position-fixed end-0 bottom-0 mb-2 me-2">
  <div class="d-flex bg-intensive-blue rounded-3">
    <p class = "text-white fs-3 fw-normal px-4 py-1 mb-0"><%=image_tag("Ellipse.svg", class:"vertical-align-middle me-1")%>
      ¿Necesitás ayuda?</p>
  </div>
  <div class="p-5 box-shadow border-style-solid rounded-3">
    <%=image_tag("Logo.svg", width:"29px", heigth:"42px")%>
  </div>
</div>
