<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      p {
           font-family: Helvetica
      }
      .text-center{
           text-align: center
      }

      .border-blue {
           border-width: 1px;
           border-color: #0F58B7;
           border-radius: 50px;
           border-style: solid
      }

      .text-decoration-none {
           text-decoration: none;

      }

      .text-blue {
           color: #0F58B7
      }

      .fw-600 {
           font-weight:600
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
